<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Medicine Information Management</title>
    <link rel="stylesheet" type="text/css" href="../../css/menu.css">
    <link rel="stylesheet" type="text/css" href="../../css/tableDesign.css">
    <link rel="stylesheet" type="text/css" href="../../css/popUpWindow.css">
</head>
<body>
<div class="all" id="medicineInformationManagement">
    <div style="min-height: 100%;">
        <!-- 顶部栏 -->
        <div class="header_nav">
            <h1>医疗保险报销系统</h1>
            <a @click="logout()">注销</a>
        </div>
        <!-- 主体内容 -->
        <div class="area row main">
            <!-- 左边框（侧边栏） -->
            <div class="area sidebar">
                <div class="sidebarHead">
                    <div class="container">
                        <img src="../../img/001.jpg" alt="头像">
                    </div>
                    <ul>
                        <li>{{param.account}}</li>
                        <li>{{param.userName}}</li>
                        <li>{{param.userRole}}</li>
                    </ul>
                </div>
                <div class="sidebarBody">
                    <ul>
                        <li><a href="./userInformation.html">用户信息维护</a></li>
                        <li><a href="./medicareCardInformation.html">医保人员信息维护</a>
                        </li>
                        <li><a href="./workerInformation.html">审批人员信息维护</a></li>
                        <li><a href="./medicineInformation.html"
                               style="background-color: blueviolet;color: white;
                               box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">药品信息维护</a>
                        </li>
                        <li><a href="./treatmentProjectInformation.html">诊疗项目信息维护</a></li>
                        <li><a href="./serviceFacilityInformation.html">服务设施信息维护</a></li>
                        <li><a href="./institutionInformation.html">定点机构信息维护</a></li>
                        <li><a href="./strategyInformation.html">报销策略维护</a></li>
                        <li><a href="./systemBankAccoutInformation.html">报销账户维护</a></li>
                        <li><a href="./recordingInformation.html">报销记录维护</a></li>
                    </ul>
                </div>
            </div>
            <!-- 右侧详细信息 -->
            <div class="area main_block">
                <div>
                    <button class="addButton rightFloat"
                            type="button"
                            @click="applyAddMedicine()">添加药品信息
                    </button>
                </div>
                <br>
                <div ref="tableRef">
                    <table>
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>药品名称</th>
                            <th>药品类别</th>
                            <th>药品价格</th>
                            <th>药品厂商</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(item,index) in result.list">
                            <td>{{(pageInfo.currentPage-1)*pageInfo.onePageCount+index+1}}</td>
                            <td>{{item.medicine_name}}</td>
                            <td>{{item.medicine_type}}</td>
                            <td>{{item.medicine_price}}</td>
                            <td>{{item.medicine_producer}}</td>
                            <td>
                                <button class="modifyButton"
                                        type="button"
                                        @click="applyModifyMedicine(item.medicine_num,item.medicine_name,item.medicine_type,item.medicine_price,item.medicine_producer)">
                                    修改
                                </button>
                                <button class="deleteButton"
                                        type="button"
                                        @click="deleteMedicine(item.medicine_num,item.medicine_name)">删除
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br>
                    <div class="pageSelectBox">
                        <ul class="pagination" style="margin: auto;">
                            <li v-for="n in result.pages">
                                <a href="javascript:void(0);"
                                   @click="search(n)"
                                   :class="{'active' : n==result.pageNum}">{{n}}</a>
                            </li>
                            <li>
                                <select @change="search(1)"
                                        v-model="pageInfo.onePageCount">
                                    <option v-for="item in pageCountList"
                                            :value="item">{{item}}
                                    </option>
                                </select>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="blankWarnPanel" ref="blankWarnRef">
                    <h1>无相关药品信息</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- 页脚 -->
    <div class="area footer">
        <div class="footerBlockLeft"></div>
        <p>某报销机构</p>
        <div class="footerBlockCenter"></div>
        <p>{{param.systemDate}}</p>
    </div>
    <!-- 添加药品的弹窗 -->
    <div class="popWindow"
         ref="popWindowAddMedicine">
        <div class="popDialog four">
            <h1>添加药品信息</h1>
            <div class="itemBody">
                <div class="itemInput">
                    <h2>药品名称：</h2>
                    <input type="text"
                           v-model="oneMedicine.name"
                           @blur="check(1)"
                           @focus="clear(1)">
                    <span class="msgSpan"
                          v-if="oneMedicineFlg.nameFlg">{{oneMedicineMsg.nameMsg}}</span>
                </div>
                <div class="itemInput">
                    <h2>药品类别：</h2>
                    <select v-model="oneMedicine.type"
                            @blur="check(2)"
                            @focus="clear(2)">
                        <option value="">请选择</option>
                        <option value="0">甲类药品</option>
                        <option value="1">乙类药品</option>
                        <option value="2">丙类药品</option>
                    </select>
                    <span class="msgSpan"
                          v-if="oneMedicineFlg.typeFlg">{{oneMedicineMsg.typeMsg}}</span>
                </div>
                <div class="itemInput">
                    <h2>药品价格：</h2>
                    <input type="number"
                           step="0.01"
                           min="0.01"
                           max="99999999"
                           v-model="oneMedicine.price"
                           @blur="check(3)"
                           @focus="clear(3)">
                    <span class="msgSpan"
                          v-if="oneMedicineFlg.priceFlg">{{oneMedicineMsg.priceMsg}}</span>
                </div>
                <div class="itemInput">
                    <h2>药品厂商：</h2>
                    <input type="text"
                           v-model="oneMedicine.producer">
                    <span class="msgSpan"
                          v-if="oneMedicineFlg.producerFlg">{{oneMedicineMsg.producerMsg}}</span>
                </div>
            </div>
            <div class="itemButton">
                <button class="addButton "
                        @click="addMedicine()">添加
                </button>
                <button class="backButton "
                        style="margin-left: 15%;"
                        @click="backToPageAdd()">返回
                </button>
            </div>
        </div>
    </div>
    <!-- 修改药品的弹窗 -->
    <div class="popWindow"
         ref="popWindowModifyMedicine">
        <div class="popDialog four">
            <h1>修改药品信息</h1>
            <div class="itemBody">
                <div class="itemInput">
                    <h2>药品名称：</h2>
                    <input type="text"
                           v-model="oneMedicine.name"
                           @blur="check(1)"
                           @focus="clear(1)">
                    <span class="msgSpan"
                          v-if="oneMedicineFlg.nameFlg">{{oneMedicineMsg.nameMsg}}</span>
                </div>
                <div class="itemInput">
                    <h2>药品类别：</h2>
                    <select v-model="oneMedicine.type"
                            @blur="check(2)"
                            @focus="clear(2)">
                        <option value="">请选择</option>
                        <option value="0">甲类药品</option>
                        <option value="1">乙类药品</option>
                        <option value="2">丙类药品</option>
                    </select>
                    <span class="msgSpan"
                          v-if="oneMedicineFlg.typeFlg">{{oneMedicineMsg.typeMsg}}</span>
                </div>
                <div class="itemInput">
                    <h2>药品价格：</h2>
                    <input type="number"
                           step="0.01"
                           min="0.01"
                           max="99999999"
                           v-model="oneMedicine.price"
                           @blur="check(3)"
                           @focus="clear(3)">
                    <span class="msgSpan"
                          v-if="oneMedicineFlg.priceFlg">{{oneMedicineMsg.priceMsg}}</span>
                </div>
                <div class="itemInput">
                    <h2>药品厂商：</h2>
                    <input type="text"
                           v-model="oneMedicine.producer">
                    <span class="msgSpan"
                          v-if="oneMedicineFlg.producerFlg">{{oneMedicineMsg.producerMsg}}</span>
                </div>
            </div>
            <div class="itemButton">
                <button class="modifyButton "
                        @click="modifyMedicine()">修改
                </button>
                <button class="backButton "
                        style="margin-left: 15%;"
                        @click="backToPageModify()">返回
                </button>
            </div>
        </div>
    </div>

    <!-- 添加返回删除信息的弹窗 -->
    <div class="popWindow2"
         ref="popWindowBackDeleteMessage">
        <div class="popDialog2 four">
            <div class="content">
                <h1>此药品已被使用</h1>
                <h1>无法删除</h1>
            </div>
            <div class="footerButton">
                <button class="backButton"
                        @click="backFromPopWindow2Delete()"
                        style=" ">确定
                </button>
            </div>
        </div>
    </div>
    <!-- 添加返回添加信息的弹窗 -->
    <div class="popWindow2"
         ref="popWindowBackAddMessage">
        <div class="popDialog2 four">
            <div class="content">
                <h1>这个药品已经存在</h1>
                <h1>无法添加</h1>
            </div>
            <div class="footerButton">
                <button class="backButton"
                        @click="backFromPopWindow2Add()"
                        style=" ">确定
                </button>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript" src="../../js/axios.js"></script>
<script type="text/javascript" src="../../js/vue.js"></script>
<script type="text/javascript" src="../../js/message.js"></script>
<script>
    var vue = new Vue({
        el: "#medicineInformationManagement",
        data: {
            param: {
                "userRole": "身份",
                "userName": "",
                "systemDate": "",
                "account": "",
            },
            result: {
                "list": {}
            },
            pageInfo: {
                "currentPage": 1,
                "onePageCount": 5,//一页有多少行数据
            },
            oneMedicine: {
                "num": "",
                "name": "",
                "type": "",
                "price": "",
                "producer": ""
            },
            oneMedicineFlg: {
                "numFlg": false,
                "nameFlg": false,
                "typeFlg": false,
                "priceFlg": false,
                "producerFlg": false
            },
            oneMedicineMsg: {
                "numMsg": "",
                "nameMsg": "",
                "typeMsg": "",
                "priceMsg": "",
                "producerMsg": ""
            },
            pageCountList: [5, 10, 20, 30, 50],//一页可以有多少行
            error: {
                "errorFlg": false,
                "errorMsg": "",
            }
        },
        created: function () {
            // 数据初始化完成
            this.search(1);
        },
        mounted: function () {
            var userRole = sessionStorage.getItem("userRole");
            this.param.userName = sessionStorage.getItem("userName");
            this.param.account = sessionStorage.getItem("account");
            if (userRole == 0) {
                this.param.userName = "";
                this.param.userRole = "管理员";
            } else if (userRole == 1) {
                this.param.userRole = "审批人员";
            } else if (userRole == 2) {
                this.param.userRole = "医保人员";
            }
            var systemDate = new Date();
            this.param.systemDate = systemDate.getFullYear() + "-" + (systemDate.getMonth() + 1) + "-" + systemDate.getDate();
        },
        methods: {
            search: function (currentPage) {
                this.error.errorMsg = "";
                this.pageInfo.currentPage = currentPage;
                axios.post("http://localhost:8000/medicare/api/searchAllMedicineList",
                    {
                        "pageNum": this.pageInfo.currentPage,
                        "pageSize": this.pageInfo.onePageCount
                    })
                    .then(res => {
                        if (res.data.result == null) {
                            this.$refs.tableRef.style.display = "none";
                            this.$refs.blankWarnRef.style.display = "block";
                            var m = res.data.msgId;
                            this.error.errorMsg = message.m;
                        } else {
                            this.$refs.tableRef.style.display = "inline";
                            this.$refs.blankWarnRef.style.display = "none";
                            this.result = res.data.result;
                        }
                    })
                    .catch(error => {
                        alert(error.errorMsg);
                    });
            },
            applyAddMedicine: function () {
                this.$refs.popWindowAddMedicine.style.display = "block";
            },
            applyModifyMedicine: function (num, name, type, price, producer) {
                this.oneMedicine.num = num;
                this.oneMedicine.name = name;
                if(type=="甲类药品"){
                    this.oneMedicine.type = "0";
                }else if(type=="乙类药品"){
                    this.oneMedicine.type = "1";
                }else if(type=="丙类药品"){
                    this.oneMedicine.type = "2";
                }
                this.oneMedicine.price = price;
                this.oneMedicine.producer = producer;
                this.$refs.popWindowModifyMedicine.style.display = "block";
            },
            deleteMedicine: function (ID, name) {
                if (confirm("是否删除“" + name + "“呢?")) {
                    this.error.errorMsg = "";
                    axios.post("http://localhost:8000/medicare/api/deleteMedicine", {
                        "id": ID
                    }).then(res => {
                        if (res.data.msgId == "A043") {
                            this.error.errorMsg = message.A043;
                            alert('删除“' + name + '”药品失败');
                        } else if (res.data.msgId == "A044") {
                            this.error.errorMsg = message.A044;
                            this.$refs.popWindowBackDeleteMessage.style.display = "block";
                        } else if (res.data.msgId == "A042") {
                            // 注册成功
                            alert('删除“' + name + '”药品成功');
                            this.search(1);
                        }
                    }).catch(error => {
                        location.href = "./500.html";
                    });
                }
            },
            addMedicine: function () {
                this.checkAll();
                if (this.oneMedicineFlg.nameFlg || this.oneMedicineFlg.typeFlg || this.oneMedicineFlg.priceFlg) {
                    return;
                }
                this.error.errorMsg = "";
                axios.post("http://localhost:8000/medicare/api/addMedicine", {
                    "medicineName": this.oneMedicine.name,
                    "medicineType": this.oneMedicine.type,
                    "medicinePrice": this.oneMedicine.price,
                    "medicineProducer": this.oneMedicine.producer
                }).then(res => {
                    if (res.data.msgId == "A046") {
                        this.error.errorMsg = message.A046;
                        alert('添加“' + this.oneMedicine.name + '”药品失败');
                        this.backToPageAdd();
                    } else if (res.data.msgId == "A047") {
                        this.$refs.popWindowBackAddMessage.style.display = "inline";
                    } else if (res.data.msgId == "A045") {
                        // 注册成功
                        alert('添加“' + this.oneMedicine.name + '”药品成功');
                        this.backToPageAdd();
                        this.search(this.pageInfo.currentPage);
                    }
                }).catch(error => {
                    location.href = "./500.html";
                });
            },
            modifyMedicine: function () {
                this.checkAll();
                if (this.oneMedicineFlg.nameFlg || this.oneMedicineFlg.typeFlg || this.oneMedicineFlg.priceFlg) {
                    return;
                }
                this.error.errorMsg = "";
                axios.post("http://localhost:8000/medicare/api/modifyMedicine", {
                    "medicineNum": this.oneMedicine.num,
                    "medicineName": this.oneMedicine.name,
                    "medicineType": this.oneMedicine.type,
                    "medicinePrice": this.oneMedicine.price,
                    "medicineProducer": this.oneMedicine.producer
                }).then(res => {
                    if (res.data.msgId == "A049") {
                        this.error.errorMsg = message.A049;
                        alert('修改“' + this.oneMedicine.name + '”药品失败');
                        this.backToPageModify();
                    }  else if (res.data.msgId == "A048") {
                        // 修改成功
                        alert('修改“' + this.oneMedicine.name + '”药品成功');
                        this.backToPageModify();
                        this.search(this.pageInfo.currentPage);
                    }
                }).catch(error => {
                    location.href = "./500.html";
                });
            },
            backToPageAdd: function () {
                this.$refs.popWindowAddMedicine.style.display = "none";
                this.blank();
                this.clearAll();
            },
            backToPageModify: function () {
                this.$refs.popWindowModifyMedicine.style.display = "none";
                this.blank();
                this.clearAll();
            },
            backFromPopWindow2Add: function () {
                this.$refs.popWindowBackAddMessage.style.display = "none";
                this.backToPageAdd();
            },
            backFromPopWindow2Delete: function () {
                this.$refs.popWindowBackDeleteMessage.style.display = "none";
            },
            logout: function () {
                if (confirm("是否退出登录？")) {
                    sessionStorage.clear();
                    location.replace("../login.html");
                }
            },
            check: function (type) {
                if (type == 1) {
                    if (this.oneMedicine.name == null || this.oneMedicine.name == "") {
                        this.oneMedicineFlg.nameFlg = true;
                        this.oneMedicineMsg.nameMsg = "请输入药品名称";
                    }
                } else if (type == 2) {
                    if (this.oneMedicine.type == null || this.oneMedicine.type == "") {
                        this.oneMedicineFlg.typeFlg = true;
                        this.oneMedicineMsg.typeMsg = "请选择药品类别";
                    }
                } else if (type == 3) {
                    var reg1 = /^[+]{0,1}(\d+)$|^[+]{0,1}(\d+\.\d+)$/;
                    var reg2 = /^[0-9]{1,8}(.[0-9]{1,2})?$/;
                    if (this.oneMedicine.price == null || this.oneMedicine.price == "") {
                        this.oneMedicineFlg.priceFlg = true;
                        this.oneMedicineMsg.priceMsg = "请输入药品价格";
                    } else if (!reg1.test(this.oneMedicine.price)) {
                        this.oneMedicineFlg.priceFlg = true;
                        this.oneMedicineMsg.priceMsg = "请输入正数";
                    }else if (!reg2.test(this.oneMedicine.price)) {
                        this.oneMedicineFlg.priceFlg = true;
                        this.oneMedicineMsg.priceMsg = "数字位数小于8位";
                    }
                }
            },
            checkAll: function () {
                this.check(1);
                this.check(2);
                this.check(3);
            },
            clear: function (type) {
                //清楚错误状态
                if (type == 1) {
                    this.oneMedicineFlg.nameFlg = false;
                    this.oneMedicineMsg.nameMsg = "";
                } else if (type == 2) {
                    this.oneMedicineFlg.typeFlg = false;
                    this.oneMedicineMsg.typeMsg = "";
                } else if (type == 3) {
                    this.oneMedicineFlg.priceFlg = false;
                    this.oneMedicineMsg.priceMsg = "";
                }
            },
            clearAll: function () {
                this.clear(1);
                this.clear(2);
                this.clear(3);
            },
            blank: function () {
                this.oneMedicine.num = "";
                this.oneMedicine.name = "";
                this.oneMedicine.type = "";
                this.oneMedicine.price = "";
                this.oneMedicine.producer = "";
            }
        }
    })
</script>
</body>
</html>