<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="../css/loginAndRegister.css"/>
</head>
<body>
<div id="login_panel">
    <h1>医疗保险报销系统</h1>
    <form method="post">
        <div style="position: absolute; top:40%; left:10%">
            <h2>账号：</h2>
            <input type="text"
                   v-model="param.account"
                   @blur="check(1)"
                   @focus="clear(1)"
                   required oninvalid="setCustomValidity('请输入账号');"
                   oninput="setCustomValidity('');"
                   placeholder="请输入账号"
                   name="account"/>
        </div>
        <div style="position: absolute; top:60%; left:10%">
            <h2>密码：</h2>
            <input type="password"
                   v-model="param.password"
                   @blur="check(2)"
                   @focus="clear(2)"
                   required oninvalid="setCustomValidity('请输入密码');"
                   oninput="setCustomValidity('');"
                   placeholder="请输入密码"
                   name="password"/>
        </div>
        <button style="position: absolute; top:80%; left:15%"
                @click="login()" type="button">登录
        </button>
        <button style="position: absolute; top:80%; left:40%"
                @click="jumpToRegister()" type="button">注册
        </button>
        <a style="position: absolute; top:82%; left:65%"
           href="./retrievePasswordVerify.html">找回密码</a>
    </form>
</div>
<script type="text/javascript" src="../js/axios.js"></script>
<script type="text/javascript" src="../js/vue.js"></script>
<script type="text/javascript" src="../js/message.js"></script>
<script>
    var vue = new Vue({
        el: "#login_panel",
        data: {
            param: {
                "account": "",
                "password": ""
            },
            errorFlg: {
                "accountFlg": false,
                "passwordFlg": false,
                "loginFlag": false
            },
            errorMsg: {
                "accountMsg": "",
                "passwordMsg": "",
                "loginMsg": ""
            }
        },
        methods: {
            check: function (type) {
                if (type == 1) {
                    if (this.param.account == null || this.param.account == "") {
                        this.errorFlg.accountFlg = true;
                        this.errorMsg.accountMsg = "请输入用户名";
                    }
                } else if (type == 2) {
                    if (this.param.password == null || this.param.password == "") {
                        this.errorFlg.passwordFlg = true;
                        this.errorMsg.passwordMsg = "请输入密码";
                    }
                }
            },
            clear: function (type) {
                if (type == 1) {
                    this.errorFlg.accountFlg = false;
                    this.errorMsg.accountMsg = "";
                } else if (type == 2) {
                    this.errorFlg.passwordFlg = false;
                    this.errorMsg.passwordMsg = "";
                }
            },
            blank:function (type){
                if(type==1){
                    this.param.account="";
                }else if (type==2){
                    this.param.password="";
                }
            },
            login: function () {
                this.check(1);
                this.check(2);
                if (this.errorFlg.accountFlg) {
                    alert(this.errorMsg.accountMsg);
                    return;
                }
                if (this.errorFlg.passwordFlg) {
                    alert(this.errorMsg.passwordMsg);
                    return;
                }
                var self = this;
                axios.post("http://localhost:8000/medicare/api/login", {
                    "account": this.param.account,
                    "password": this.param.password
                }).then(res => {
                    console.log(res.data);
                    if (res.data.msgId == "A001") {
                        self.errorFlg.loginFlg = true;
                        self.errorMsg.loginMsg = message.A001;
                        alert('您输入的用户名不存在');
                        self.blank(1);
                        self.blank(2);
                    } else if (res.data.msgId == "A002") {
                        self.errorFlg.loginFlg = true;
                        self.errorMsg.loginMsg = message.A002;
                        alert('密码错误');
                        self.blank(2);
                    } else if (res.data.msgId == "A003") {
                        // 管理员登录成功
                        sessionStorage.setItem("authToken", res.data.result.authToken);
                        sessionStorage.setItem("userRole", res.data.result.userRole);
                        location.replace('./admin/welcome.html');
                    } else if (res.data.msgId == "A004") {
                        // 审批人员登录成功
                        sessionStorage.setItem("authToken", res.data.result.authToken);
                        sessionStorage.setItem("userRole", res.data.result.userRole);
                        location.replace('./worker/welcome.html');
                    } else if (res.data.msgId == "A005") {
                        // 普通用户登录成功
                        sessionStorage.setItem("authToken", res.data.result.authToken);
                        sessionStorage.setItem("userRole", res.data.result.userRole);
                        location.replace('./generalUser/welcome.html');
                    }
                }).catch(error => {
                    location.href = "./500.html";
                });
            },
            jumpToRegister: function () {
                location.href = "./register.html";
            }
        }
    })
</script>
</body>
</html>