<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="../css/loginAndRegister.css"/>
</head>
<body>
<fieldset style="margin-top: 100px; border-radius: 10px; border-color: #5555FF;">
    <legend style="text-align: center; color:#5555FF;font-size: 35px;">就诊详情录入</legend>
    <legend style="text-align: center; color:#5555FF;font-size: 25px;">药品</legend>
    <div class="form-group">
        <label>药品编号*:</label>
        <input type="text" v-model="drug.code" @blur="getDrug()"/>
        <span class="msg" v-if="drug.codeFlag">{{drug.codeMsg}}</span>
    </div>
    <div class="form-group">
        <label>药品名:</label>
        <input type="text" readonly="true" v-model="drug.name"/>
    </div>
    <div class="form-group">
        <label>数量*:</label>
        <input type="text" v-model="drug.quantity" @blur="drugQuantityCheck()"/>
        <span class="msg" v-if="drug.quantityFlag">{{drug.quantityMsg}}</span>
    </div>
    <div class="form-group">
        <label></label>
        <button style="font-size: 15px;" @click="addDrug()">添加药品记录</button>
        <span></span>
    </div>
    <legend style="text-align: center; color:#5555FF;font-size: 25px;">项目</legend>
    <div class="form-group">
        <label>项目编号*:</label>
        <input type="text" v-model="project.code" @blur="getProject()"/>
        <span class="msg" v-if="project.codeFlag">{{project.codeMsg}}</span>
    </div>
    <div class="form-group">
        <label>项目名:</label>
        <input type="text" readonly="true" v-model="project.name"/>
    </div>
    <div class="form-group">
        <label>次数*:</label>
        <input type="text" v-model="project.quantity" @blur="projectQuantityCheck()"/>
        <span class="msg" v-if="project.quantityFlag">{{project.quantityMsg}}</span>
    </div>
    <div class="form-group">
        <label></label>
        <button style="font-size: 15px;" @click="addProject()">添加项目记录</button>
        <span></span>
    </div>
    <div class="form-group">
        <label></label>
        <button style="font-size: 15px;" @click="done()">完成</button>
        <span></span>
    </div>
</fieldset>
<script type="text/javascript" src="../js/axios.js"></script>
<script type="text/javascript" src="../js/vue.js"></script>
<script type="text/javascript" src="../js/message.js"></script>
<script>
    var vue = new Vue({
        el: "#login_panel",
        data: {
            param: {
                "account": "",
                "password": ""
            },
            errorFlg: {
                "accountFlg": false,
                "passwordFlg": false,
                "loginFlag": false
            },
            errorMsg: {
                "accountMsg": "",
                "passwordMsg": "",
                "loginMsg": ""
            }
        },
        methods: {
            check: function (type) {
                if (type == 1) {
                    if (this.param.account == null || this.param.account == "") {
                        this.errorFlg.accountFlg = true;
                        this.errorMsg.accountMsg = "请输入用户名";
                    }
                } else if (type == 2) {
                    if (this.param.password == null || this.param.password == "") {
                        this.errorFlg.passwordFlg = true;
                        this.errorMsg.passwordMsg = "请输入密码";
                    }
                }
            },
            clear: function (type) {
                if (type == 1) {
                    this.errorFlg.accountFlg = false;
                    this.errorMsg.accountMsg = "";
                } else if (type == 2) {
                    this.errorFlg.passwordFlg = false;
                    this.errorMsg.passwordMsg = "";
                }
            },
            login: function () {
                this.check(1);
                this.check(2);
                if (this.errorFlg.accountFlg || this.errorFlg.passwordFlg) {
                    return;
                }
                var self = this;
                axios.post("http://localhost:8000/medicare/api/login", {
                    "account": this.param.account,
                    "password": this.param.password
                }).then(res => {
                    console.log(res.data);
                    if (res.data.msgId == "A001") {
                        self.errorFlg.loginFlg = true;
                        self.errorMsg.loginMsg = message.A001;
                        alert('您输入的用户名不存在,此处是个alert');
                    } else if (res.data.msgId == "A002") {
                        self.errorFlg.loginFlg = true;
                        self.errorMsg.loginMsg = message.A002;
                        alert('密码错误,此处是个alert');
                    } else if (res.data.msgId == "A003") {
                        // 管理员登录成功
                        sessionStorage.setItem("authToken", res.data.result.authToken);
                        sessionStorage.setItem("userRole", res.data.result.userRole);
                        alert('管理员登录成功');
                    } else if (res.data.msgId == "A004") {
                        // 审批人员登录成功
                        sessionStorage.setItem("authToken", res.data.result.authToken);
                        sessionStorage.setItem("userRole", res.data.result.userRole);
                        location.replace('500.html');
                    } else if (res.data.msgId == "A005") {
                        // 普通用户登录成功
                        sessionStorage.setItem("authToken", res.data.result.authToken);
                        sessionStorage.setItem("userRole", res.data.result.userRole);
                        location.replace('500.html');
                    }
                }).catch(error => {
                    location.href = "./500.html";
                });
            },
            jumpToRegister: function () {
                location.href = "./500.html";
            }
        }
    })
</script>
</body>
</html>