<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Retrieve Password Verify</title>
    <link rel="stylesheet" type="text/css" href="../css/loginAndRegister.css"/>
</head>
<body>
<fieldset id="retrieve_password_panel">
    <br/>
    <h1>密码找回</h1>
    <br/>
    <div class="font_div2">
        <h2>账&emsp;&emsp;号：</h2>
        <input type="text"
               v-model="param.account"
               @blur="check(1)"
               @focus="clear(1)"
               style=""/>
        <span style="color: red"
              v-if="errorFlg.accountFlg">{{errorMsg.accountMsg}}</span>
    </div>
    <br/>
    <div class="font_div2">
        <h2>身份证号：</h2>
        <input type="text"
               v-model="param.identityCardNum"
               @blur="check(2)"
               @focus="clear(2)"
               style=""/>
        <span style="color: red"
              v-if="errorFlg.identityCardNumFlg">{{errorMsg.identityCardNumMsg}}</span>
    </div>
    <button style="position: absolute; top:75%; left:35%; width:200px;"
            @click="verifyPassword">申请找回
    </button>
</fieldset>
<script type="text/javascript" src="../js/axios.js"></script>
<script type="text/javascript" src="../js/vue.js"></script>
<script type="text/javascript" src="../js/message.js"></script>
<script>
    var vue = new Vue({
        el: "#retrieve_password_panel",
        data: {
            param: {
                "account": "",
                "identityCardNum": "",
            },
            errorFlg: {
                "accountFlg": false,
                "identityCardNumFlg": false,
                "verifyFlg": false
            },
            errorMsg: {
                "accountMsg": "",
                "identityCardNumMsg": "",
                "verifyMsg": ""
            }
        },
        methods: {
            check: function (type) {
                //核查账号、身份证号是否有问题
                if (type == 1) {
                    var reg1 = /[^0-9]/;
                    var reg2 = /^[0-9]{6,}$/;
                    var reg3 = /^[0-9]{0,16}$/;
                    if (this.param.account == null || this.param.account == "") {
                        this.errorFlg.accountFlg = true;
                        this.errorMsg.accountMsg = "请输入账号";
                    } else if (reg1.test(this.param.account)) {
                        this.errorFlg.accountFlg = true;
                        this.errorMsg.accountMsg = "账号中含有字符";
                    } else if (!reg2.test(this.param.account)) {
                        this.errorFlg.accountFlg = true;
                        this.errorMsg.accountMsg = "账号长度短于6位";
                    } else if (!reg3.test(this.param.account)) {
                        this.errorFlg.accountFlg = true;
                        this.errorMsg.accountMsg = "账号长度长于16位";
                    }
                } else if (type == 2) {
                    var reg1 = /^[1-9]\d{5}(18|19|20)\d{2}((0[1-9])|(1[0-2]))(([0-2][1-9])|10|20|30|31)\d{3}[0-9Xx]$/;
                    var reg2 = /^[0-9a-zA-Z]{18,}$/;
                    var reg3 = /^[0-9a-zA-Z]{0,18}$/;
                    if (this.param.identityCardNum == null || this.param.identityCardNum == "") {
                        this.errorFlg.identityCardNumFlg = true;
                        this.errorMsg.identityCardNumMsg = "请输入身份证号";
                    } else if (!reg2.test(this.param.identityCardNum)) {
                        this.errorFlg.identityCardNumFlg = true;
                        this.errorMsg.identityCardNumMsg = "短于18位";
                    } else if (!reg3.test(this.param.identityCardNum)) {
                        this.errorFlg.identityCardNumFlg = true;
                        this.errorMsg.identityCardNumMsg = "长于18位";
                    } else if (!reg1.test(this.param.identityCardNum)) {
                        this.errorFlg.identityCardNumFlg = true;
                        this.errorMsg.identityCardNumMsg = "输入错误";
                    }
                }
            },
            clear: function (type) {
                //清楚错误状态
                if (type == 1) {
                    this.errorFlg.accountFlg = false;
                    this.errorMsg.accountMsg = "";
                } else if (type == 2) {
                    this.errorFlg.identityCardNumFlg = false;
                    this.errorMsg.identityCardNumMsg = "";
                }
            },
            blank: function (type) {
                if (type == 1) {
                    this.param.account = "";
                } else if (type == 2) {
                    this.param.identityCardNum = "";
                }
            },
            verifyPassword: function () {
                this.check(1);
                this.check(2);
                if (this.errorFlg.accountFlg || this.errorFlg.identityCardNumFlg) {
                    return;
                }
                axios.post("http://localhost:8000/medicare/api/retrievePasswordVerify", {
                    "account": this.param.account,
                    "identityCardNum": this.param.identityCardNum
                }).then(res => {
                    console.log(res.data);
                    if (res.data.msgId == "A001") {
                        this.errorFlg.verifyFlg = true;
                        this.errorMsg.verifyMsg = message.A001;
                        alert('账号不存在');
                        this.blank(1);
                        this.blank(2);
                    } else if (res.data.msgId == "A013") {
                        this.errorFlg.verifyFlg = true;
                        this.errorMsg.verifyMsg = message.A012;
                        alert('身份验证失败');
                        this.blank(2);
                    }else if (res.data.msgId == "A012") {
                        this.errorFlg.verifyFlg = false;
                        this.errorMsg.verifyMsg = message.A011;
                        sessionStorage.setItem("userAccount", this.param.account);
                        location.href = "./retrievePasswordModify.html";
                        this.blank(1);
                        this.blank(2);
                    }
                }).catch(error => {
                    location.href = "./500.html";
                });
            },
        }
    })
</script>
</body>
</html>