<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Retrieve Password Modify</title>
    <link rel="stylesheet" type="text/css" href="../css/loginAndRegister.css"/>
</head>
<body>
<fieldset id="retrieve_password_panel">
    <br/>
    <h1>密码重置</h1>
    <br/>
    <div class="font_div2">
        <h2>新密码：&nbsp&nbsp&nbsp&nbsp</h2>
        <input type="password"
               v-model="param.password"
               @blur="check(1)"
               @focus="clear(1)"
               style=""/>
        <span style="color: red"
              v-if="errorFlg.passwordFlg">{{errorMsg.passwordMsg}}</span>
    </div>
    <br/>
    <div class="font_div2">
        <h2>确认密码：</h2>
        <input type="password"
               v-model="param.passwordRepeat"
               @blur="check(2)"
               @focus="clear(2)"
               style=""/>
        <span style="color: red"
              v-if="errorFlg.passwordRepeatFlg">{{errorMsg.passwordRepeatMsg}}</span>
    </div>
    <button style="position: absolute; top:75%; left:35%; width:200px;"
            @click="modifyPassword">重置密码
    </button>
</fieldset>
<script type="text/javascript" src="../js/axios.js"></script>
<script type="text/javascript" src="../js/vue.js"></script>
<script type="text/javascript" src="../js/message.js"></script>
<script>
    var vue = new Vue({
        el: "#retrieve_password_panel",
        data: {
            param: {
                "password": "",
                "passwordRepeat": ""
            },
            errorFlg: {
                "passwordFlg": false,
                "passwordRepeatFlg": false,
                "modifyFlg": false
            },
            errorMsg: {
                "passwordMsg": "",
                "passwordRepeatMsg": "",
                "modifyMsg": ""
            }
        },
        methods: {
            check: function (type) {
                //核查密码、确认密码是否有问题
                if (type == 1) {
                    var reg1 = /[^0-9a-zA-Z]/;
                    var reg2 = /^[0-9a-zA-Z]{8,}$/;
                    var reg3 = /^[0-9a-zA-Z]{0,20}$/;
                    if (this.param.password == null || this.param.password == "") {
                        this.errorFlg.passwordFlg = true;
                        this.errorMsg.passwordMsg = "请输入密码";
                    } else if (reg1.test(this.param.password)) {
                        this.errorFlg.passwordFlg = true;
                        this.errorMsg.passwordMsg = "密码中含有特殊字符";
                    } else if (!reg2.test(this.param.password)) {
                        this.errorFlg.passwordFlg = true;
                        this.errorMsg.passwordMsg = "密码长度短于8位";
                    } else if (!reg3.test(this.param.password)) {
                        this.errorFlg.passwordFlg = true;
                        this.errorMsg.passwordMsg = "密码长度长于20位";
                    }
                } else if (type == 2) {
                    if (this.param.passwordRepeat == null || this.param.passwordRepeat == "") {
                        this.errorFlg.passwordRepeatFlg = true;
                        this.errorMsg.passwordRepeatMsg = "请确认密码";
                    } else if (this.param.password != this.param.passwordRepeat) {
                        this.errorFlg.passwordRepeatFlg = true;
                        this.errorMsg.passwordRepeatMsg = "密码不一致";
                    }
                }
            },
            clear: function (type) {
                //清楚错误状态
                if (type == 1) {
                    this.errorFlg.passwordFlg = false;
                    this.errorMsg.passwordMsg = "";
                } else if (type == 2) {
                    this.errorFlg.passwordRepeatFlg = false;
                    this.errorMsg.passwordRepeatMsg = "";
                }
            },
            blank: function (type) {
                if (type == 1) {
                    this.param.password = "";
                } else if (type == 2) {
                    this.param.passwordRepeat = "";
                }
            },
            modifyPassword: function () {
                this.check(1);
                this.check(2);
                if (this.errorFlg.passwordFlg || this.errorFlg.passwordRepeatFlg) {
                    return;
                }
                var self = this;
                axios.post("http://localhost:8000/medicare/api/retrievePasswordModify", {
                    "account":sessionStorage.getItem("userAccount"),
                    "password": this.param.password,
                    "passwordRepeat": this.param.passwordRepeat,
                }).then(res => {
                    console.log(res.data);
                    if (res.data.msgId == "A007") {
                        self.errorFlg.modifyFlag = true;
                        self.errorMsg.modifyMsg = message.A7;
                        alert('密码不一致');
                        self.blank(1);
                        self.blank(2);
                    } else if (res.data.msgId == "A015") {
                        self.errorFlg.modifyFlag = true;
                        self.errorMsg.modifyMsg = message.A015;
                        alert('密码修改失败');
                        self.blank(1);
                        self.blank(2);
                    }else if (res.data.msgId == "A014") {
                        self.errorFlg.modifyFlag = false;
                        self.errorMsg.modifyMsg = message.A014;
                        alert('密码修改成功');
                        sessionStorage.clear();
                        location.replace("./login.html");
                    }
                }).catch(error => {
                    location.href = "./500.html";
                });
            },
        }
    })
</script>
</body>
</html>