<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Person Information Management</title>
    <link rel="stylesheet" type="text/css" href="../../css/menu.css">
    <link rel="stylesheet" type="text/css" href="../../css/tableDesign.css">
    <link rel="stylesheet" type="text/css" href="../../css/popUpWindow.css">
</head>
<body>
<div class="all" id="personInformationManagement">
    <div style="min-height: 100%;">
        <!-- 顶部栏 -->
        <div class="header_nav">
            <h1>医疗保险报销系统</h1>
            <a @click="logout()">注销</a>
        </div>
        <!-- 主体内容 -->
        <div class="area row main">
            <!-- 左边框（侧边栏） -->
            <div class="area sidebar">
                <div class="sidebarHead">
                    <div class="container">
                        <img src="../../img/003.jpg" alt="头像">
                    </div>
                    <ul>
                        <li>{{param.account}}</li>
                        <li>{{param.userName}}</li>
                        <li>{{param.userRole}}</li>
                    </ul>
                </div>
                <div class="sidebarBody">
                    <ul>
                        <li><a href="./personalInformation.html"
                               style="background-color: blueviolet;color: white;
                               box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">个人信息维护</a></li>
                        <li><a href="./workerJobInformation.html">工作信息查询</a></li>
                        <li><a href="./applicationCheck.html">待审核申请</a></li>
                        <li><a href="./applicationCalculation.html">待计算申请</a></li>
                        <li><a href="./applicationCalculation.html">待支付申请</a></li>
                        <li><a href="./recordingInformation.html">审批申请记录</a></li>
                    </ul>
                </div>
            </div>
            <!-- 右侧详细信息 -->
            <div class="area main_block">
                <br>
                <br>
                <div ref="mainBlockRef"
                     class="squarePanel">
                    <h1>用户个人信息</h1>
                    <div class="panelBody"style="background-color: #dddddd">
                        <div class="hang">
                            <h2>员工工号：</h2>
                            <div class="messageContent">{{param.account}}</div>
                        </div>
                        <div class="hang">
                            <h2>银行卡号：</h2>
                            <div class="messageContent">{{result.bank_account}}</div>
                        </div>
                        <div class="hang">
                            <h2>联系电话：</h2>
                            <div class="messageContent">{{result.telephone}}</div>
                        </div>
                        <div class="hang">
                            <h2>家庭地址：</h2>
                            <div class="messageContent">{{result.address}}</div>
                        </div>
                    </div>
                    <div>
                        <button class="modifyButton "
                                @click="applyModifyPerson(result.bank_account,result.telephone,result.address)">修改
                        </button>
                    </div>

                </div>
                <div class="blankWarnPanel" ref="blankWarnRef">
                    <h1>个人信息为空</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- 页脚 -->
    <div class="area footer">
        <div class="footerBlockLeft"></div>
        <p>某报销机构</p>
        <div class="footerBlockCenter"></div>
        <p>{{param.systemDate}}</p>
    </div>
    <!-- 修改个人信息的弹窗 -->
    <div class="popWindow"
         ref="popWindowModifyPerson">
        <div class="popDialog four">
            <h1>修改个人信息</h1>
            <div class="itemBody">
                <div class="itemInput">
                    <h2>银行卡号：</h2>
                    <input type="text"
                           v-model="thePerson.bankAccount"
                           @blur="check(1)"
                           @focus="clear(1)">
                    <span class="msgSpan"
                          v-if="thePersonFlg.bankAccountFlg">{{thePersonMsg.bankAccountMsg}}</span>
                </div>
                <div class="itemInput">
                    <h2>联系电话：</h2>
                    <input type="text"
                           v-model="thePerson.telephone"
                           @blur="check(2)"
                           @focus="clear(2)">
                    <span class="msgSpan"
                          v-if="thePersonFlg.telephoneFlg">{{thePersonMsg.telephoneMsg}}</span>
                </div>
                <div class="itemInput">
                    <h2>家庭地址：</h2>
                    <input type="text"
                           v-model="thePerson.address">
                    <span class="msgSpan"
                          v-if="thePersonFlg.addressFlg">{{thePersonMsg.addressMsg}}</span>
                </div>
            </div>
            <div class="itemButton">
                <button class="modifyButton "
                        @click="modifyPerson()">修改
                </button>
                <button class="backButton "
                        style="margin-left: 15%;"
                        @click="backToPageModify()">返回
                </button>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript" src="../../js/axios.js"></script>
<script type="text/javascript" src="../../js/vue.js"></script>
<script type="text/javascript" src="../../js/message.js"></script>
<script>
    var vue = new Vue({
        el: "#personInformationManagement",
        data: {
            param: {
                "userRole": "身份",
                "userName": "",
                "systemDate": "",
                "account": "",
            },
            result: {
                "bank_account": "",
                "telephone": "",
                "address": ""
            },
            thePerson: {
                "bankAccount": "",
                "telephone": "",
                "address": ""
            },
            thePersonFlg: {
                "bankAccountFlg": false,
                "telephoneFlg": false,
                "addressFlg": false
            },
            thePersonMsg: {
                "bankAccountMsg": "",
                "telephoneMsg": "",
                "addressMsg": ""
            },
            error: {
                "errorFlg": false,
                "errorMsg": "",
            }
        },
        created: function () {
            // 数据初始化完成

        },
        mounted: function () {
            var userRole = sessionStorage.getItem("userRole");
            this.param.userName = sessionStorage.getItem("userName");
            this.param.account = sessionStorage.getItem("account");
            if (userRole == 0) {
                this.param.userName = "";
                this.param.userRole = "管理员";
            } else if (userRole == 1) {
                this.param.userRole = "审批人员";
            } else if (userRole == 2) {
                this.param.userRole = "医保人员";
            }
            var systemDate = new Date();
            this.param.systemDate = systemDate.getFullYear() + "-" + (systemDate.getMonth() + 1) + "-" + systemDate.getDate();
            this.search(this.param.account);
        },
        methods: {
            search: function (account) {
                this.error.errorMsg = "";
                axios.post("http://localhost:8000/medicare/api/searchThePerson",
                    {
                        "id": account
                    })
                    .then(res => {
                        if (res.data.result == null) {
                            this.$refs.mainBlockRef.style.display = "none";
                            this.$refs.blankWarnRef.style.display = "block";
                            var m = res.data.msgId;
                            this.error.errorMsg = message.m;
                        } else {

                            this.$refs.mainBlockRef.style.display = "inline";
                            this.$refs.blankWarnRef.style.display = "none";
                            this.result = res.data.result;
                        }
                    })
                    .catch(error => {
                        alert(error.errorMsg);
                    });
            },
            applyModifyPerson: function (bankAccount, telephone, address) {
                this.thePerson.bankAccount = bankAccount;
                this.thePerson.telephone = telephone;
                this.thePerson.address = address;
                this.$refs.popWindowModifyPerson.style.display = "block";
            },
            modifyPerson: function () {
                this.checkAll();
                if (this.thePersonFlg.bankAccountFlg || this.thePersonFlg.telephoneFlg) {
                    return;
                }
                this.error.errorMsg = "";
                axios.post("http://localhost:8000/medicare/api/modifyThePerson", {
                    "account": this.param.account,
                    "bankAccount": this.thePerson.bankAccount,
                    "telephone": this.thePerson.telephone,
                    "address": this.thePerson.address
                }).then(res => {
                    if (res.data.msgId == "A083") {
                        this.error.errorMsg = message.A083;
                        alert('修改个人信息失败');
                        this.backToPageModify();
                    } else if (res.data.msgId == "A082") {
                        // 修改成功
                        alert('修改个人信息成功');
                        this.backToPageModify();
                        this.search(this.param.account);
                    }
                }).catch(error => {
                    location.href = "./500.html";
                });
            },
            backToPageModify: function () {
                this.$refs.popWindowModifyPerson.style.display = "none";
                this.blank();
                this.clearAll();
            },
            logout: function () {
                if (confirm("是否退出登录？")) {
                    sessionStorage.clear();
                    location.replace("../login.html");
                }
            },
            check: function (type) {
                if (type == 1) {
                    var reg1 = /[^0-9]$/;
                    var reg2 = /^[0-9]{0,15}$/;
                    var reg3 = /^[0-9]{20,}$/;
                    if (this.thePerson.bankAccount == null || this.thePerson.bankAccount == "") {
                        this.thePersonFlg.bankAccountFlg = true;
                        this.thePersonMsg.bankAccountMsg = "请输入银行卡号";
                    } else if (reg1.test(this.thePerson.bankAccount)) {
                        this.thePersonFlg.bankAccountFlg = true;
                        this.thePersonMsg.bankAccountMsg = "请输入数字";
                    } else if (reg2.test(this.thePerson.bankAccount)) {
                        this.thePersonFlg.bankAccountFlg = true;
                        this.thePersonMsg.bankAccountMsg = "长度过短";
                    } else if (reg3.test(this.thePerson.bankAccount)) {
                        this.thePersonFlg.bankAccountFlg = true;
                        this.thePersonMsg.bankAccountMsg = "长度过长";
                    }
                } else if (type == 2) {
                    var reg1 = /[^0-9]$/;
                    var reg2 = /^[0-9]{0,4}$/;
                    var reg3 = /^[0-9]{20,}$/;
                    if (this.thePerson.telephone == null || this.thePerson.telephone == "") {

                    } else if (reg1.test(this.thePerson.telephone)) {
                        this.thePersonFlg.telephoneFlg = true;
                        this.thePersonMsg.telephoneMsg = "请输入数字";
                    } else if (reg2.test(this.thePerson.telephone)) {
                        this.thePersonFlg.telephoneFlg = true;
                        this.thePersonMsg.telephoneMsg = "长度过短";
                    } else if (reg3.test(this.thePerson.telephone)) {
                        this.thePersonFlg.telephoneFlg = true;
                        this.thePersonMsg.telephoneMsg = "长度过长";
                    }
                }
            },
            checkAll: function () {
                this.check(1);
                this.check(2);
            },
            clear: function (type) {
                //清楚错误状态
                if (type == 1) {
                    this.thePersonFlg.bankAccountFlg = false;
                    this.thePersonMsg.bankAccountMsg = "";
                } else if (type == 2) {
                    this.thePersonFlg.telephoneFlg = false;
                    this.thePersonMsg.telephoneMsg = "";
                } else if (type == 3) {
                    this.thePersonFlg.addressFlg = false;
                    this.thePersonMsg.addressMsg = "";
                }
            },
            clearAll: function () {
                this.clear(1);
                this.clear(2);
                this.clear(3);
            },
            blank: function () {
                this.thePerson.bankAccount = "";
                this.thePerson.telephone = "";
                this.thePerson.address = "";
            }
        }
    })
</script>
</body>
</html>