html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.all{
    height: 100%;
    width: 100%;
}

.area{
    padding: 10px;
    border-radius: 5px;
}

.row {
    display: flex;
    align-items: flex-start;
}

.main_block{
    width: 85%;
}

.header_nav{
    background: royalblue;
    width: 100%;
    min-height: 67px;
}

.header_nav a{
    font-weight: bold;
    font-size: larger;
}

.header_nav h1{
    display: inline;
    margin: 0;
    padding:0;
    position: absolute;
    top:10px;
    left:8%;
    color: white;
}

.header_nav a{
    min-width: 80px;
    position: absolute;
    top:0.7%;
    left:83%;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 15px 10px;
    border-radius: 10px;
}

.header_nav a:hover {
    background-color: orangered;
}

.main{

}

.sidebar{
    min-width: 200px;
    background-color: #E6E8FA;
    border-radius: 10px;
}

.sidebar .sidebarHead{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
}

.sidebar .sidebarHead .container{
    width: 80px;
    height: 80px;
    margin-left:10px;
}

.sidebar .sidebarHead .container img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.sidebar .sidebarHead ul{
    list-style-type: none;
    margin: 10px 10px;
    padding:0;
}

.sidebar .sidebarBody{
    width: 100%;
    font-weight: bold;
    font-size: larger;
}

.sidebar .sidebarBody ul{
    list-style: none;
    margin: 0;
    padding:0;
}

.sidebar .sidebarBody a{
    text-align: center;
    margin: 0;
    display: block;
    color: black;
    text-decoration: none;
    padding:10px 20px;
    transition: transform 0.2s;
}

.sidebar .sidebarBody a:hover{
    color: white;
    background-color: royalblue;
    transform: scale(1.1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footer{
    background-color: midnightblue;
    margin: 0;
    padding:0;
    width: 100%;
    z-index: 9999;
    display: flex;
}

.footer .footerBlockLeft{
    margin: 0;
    padding:0;
    width: 30%;
}

.footer .footerBlockCenter{
    margin: 0;
    padding:0;
    width: 20%;
}

.footer p{
    color: white;
}

.welcome{
    width: 100%;
    text-align: center;
    min-height: 300px;
}

.welcome p{
    font-size: larger;
}


.squarePanel{
    min-width: 80%;
    min-height: 400px;
    background-color: #dddddd;
    border-radius: 20px;
    text-align: center;
    vertical-align: center;
    padding-bottom: 20px;
}

.squarePanel h1{
    padding-top: 20px;
}

.squarePanel .panelBody{
    margin: 20px 4% 25px 4%;
    padding:10px 15px;
    border-radius: 20px;
}

.squarePanel .panelBody .hang{

}

.squarePanel .panelBody .hang h2{
    display: inline-block;
}

.squarePanel .panelBody .hang .messageContent{
    display: inline-block;
    margin: 10px 1%;
    min-height: 40px;
    min-width: 50%;
    font-size: larger;

}

